{% extends 'user_navbar.html' %}

{% block title %} Job Lists {% endblock %}
{% block job_list %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Location</th>
            <th>Created On</th>
            <th>Apply</th>
        </tr>
    </thead>
    <tbody>
        {% for vacancy in vacancies %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{vacancy.company_name.company_name}}</td>
            <td><a href="/job_detail/{{ vacancy.id }}/">{{vacancy.title}}</a></td>
            <td>{{vacancy.salary}}</td>
            <td>{{vacancy.location}}</td>
            <td>{{vacancy.creation_date}}</td>

            {% if vacancy.id in data %}
            <td><a class="btn btn-success">Applied</a></td>
            {% else %}
            <td><a href="/job_detail/{{ vacancy.id }}/" class="btn btn-success">Apply</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}