{% extends 'company_navbar.html' %}

{% block title %} Admission System {% endblock %}
{% block application_form %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="btn mt-3" style="background-color: #d4a939; color: white; font-size: larger; width: 8rem;">
    </form>
</div>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Job details updated successfully.")
    window.location = "/job_list"
    {% endif %}
</script>
{% endblock %}

